@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.heading {
  font-weight: 700;
  text-align: center;
  margin: 5% 0;
  font-size: 2.5em;
}

.list-section {
  border: 2px solid rgb(223, 223, 223);
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(80, 80, 80, 0.4);
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.list-heading {
  font-size: 1.35em;
  font-weight: 400;
  font-style: italic;
}

.refresh {
  font-size: 1.1em;
  color: rgb(104, 104, 104);
  border: none;
  background: none;
  cursor: pointer;
}

.add-task {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.new-task {
  font-size: 1.2em;
  font-style: italic;
  border: none;
  outline: none;
  width: 90%;
}

.submit-task {
  font-size: 1.1em;
  border: none;
  background: none;
  cursor: pointer;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(207, 207, 207);
  padding: 1rem 0.5rem;
}

.items {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.item-menu {
  background: none;
  padding: 0;
  border: none;
  font-size: 1.2em;
  padding-right: 0.3rem;
}

.completed {
  text-align: center;
  width: 100%;
  font-size: 1.4em;
  border: none;
  padding: 0.5rem 0;
  border-radius: 10px;
  background-color: none;
}

.completed:hover {
  background-color: #2e64a3;
  color: white;
  transition: 5ms 5ms;
}
